<section class="hero hero-home">
    <div class="grid-container">
        <div class="row">
            <div class="columns large-10 large-offset-1">
                <h1 class="wow zoomIn">Healthy Lawns.<br>Jealous Neighbors.</h1>
                <p>Whether you need routine lawn maintenance or help with a special landscaping project, you deserve a reliable solution. We’re proud to serve Chesterfield, Lancaster and lower Union county home and business owners who are ready for a professional to tend to their landscaping needs.</p>
                <p><a href="#cards" class="js-scroll-trigger button">See My Options</a></p>
            </div>
        </div>

    </div>
</section>