<section class="hero hero-page">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-10 large-offset-1">
                <h1 class="wow zoomIn">Keep Your Yard Healthy and Beautiful</h1>
                <p>Tired of dealing with routine lawn care work? Let a professional handle it so you can spend more time focusing on what matters.</p>
                <p><a href="#intro" class="js-scroll-trigger button">See My Options</a></p>
            </div>
        </div>

    </div>
</section>