<nav class="site-nav">
 <div class="grid-container">
  <div class="grid-x grid-margin-x align-middle">
   <div class="cell small-6 medium-4 large-2">
    <div class="site-logo"><a href="/"><img alt="Rivers Lawn and Landscape logo" src="{{root}}assets/img/logo_light.png"></a></div>
   </div>
   <div class="cell small-6 medium-8 large-10">
    <div class="nav-menu">
     <ul>
      <li><a href="">Lawn Care</a></li>
      <li><a href="">Landscaping</a></li>
      <li><a href="">Commercial</a></li>
      <li><a href="">Nav Item</a></li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</nav>
</nav>
