<section class="section section-cta">
    <div class="grid-container">
        <div class="row">
            <div class="section-header columns large-10 large-offset-1">
                <h2>Get Your Free Estimate</h2>
                <p>Fill out the form below. We’ll be in touch within 24 hours.</p>
            </div>
        </div>
        <div class="row">
            <div class="section-header columns large-10 large-offset-1">
                The Form will be placed here
            </div>
        </div>
    </div>
</section>