<section class="section section-intro" id="intro">
    <div class="grid-container">
        <div class="row">
            <div class="section-introText columns large-10 large-offset-1">
                <h2 class="wow zoomIn">Lawn Care Services</h2>
                <p>
                    Far too many homeowners use valuable free time to perform routine lawn care work. Rivers Lawn and Landscape believes that free time should be reserved for relaxing with family and enjoying time with friends. Let us tend to your lawn maintenance needs, so you never have to choose between having a beautiful, healthy yard and living life on your own terms again.
                </p>
            </div>
        </div>
    </div>
</section>