<section class="section section-shortcuts">
    <div class="fluid">
        <div class="grid-x">
            <div class="cell medium-6 large-3 shortcut wow zoomIn" data-wow-delay="0.25s"><h3>First Shortcut</h3></div>
            <div class="cell medium-6 large-3 shortcut wow zoomIn" data-wow-delay="0.5s"><h3>Second shortcut</h3></div>
            <div class="cell medium-6 large-3 shortcut wow zoomIn" data-wow-delay="0.75s"><h3>Third shortcut</h3></div>
            <div class="cell medium-6 large-3 shortcut wow zoomIn" data-wow-delay="1s"><h3>Fourth shortcut</h3></div>
        </div>
    </div>
</section>