<section class="section section-home-cards">
    <div class="grid-container">
        <div class="row">
            <div class="section-header columns large-10 large-offset-1">
                <h2>What's Your Situation?</h2>
                <p>
                    You should spend more time enjoying your yard than you do worrying about it. Our professional
                    service and simple process makes it easy to get the lawn care & landscaping attention you need to
                    keep your yard healthy and beautiful.
                </p>
            </div>
        </div>
        <div class="row small-up-1 medium-up-2 large-up-4">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <span class="card-icon">
                            Icon Goes Here
                        </span>
                        <h3 class="card-heading">
                            I Need Routine Lawn CAre
                        </h3>
                    </div>
                    <div class="card-button">
                        <a class="button expanded">Get More Info</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <span class="card-icon">
                            Icon Goes Here
                        </span>
                        <h3 class="card-heading">
                            I Need Routine Lawn CAre
                        </h3>
                    </div>
                    <div class="card-button">
                        <a class="button expanded">Get More Info</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <span class="card-icon">
                            Icon Goes Here
                        </span>
                        <h3 class="card-heading">
                            I Need Routine Lawn CAre
                        </h3>
                    </div>
                    <div class="card-button">
                        <a class="button expanded">Get More Info</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <span class="card-icon">
                            Icon Goes Here
                        </span>
                        <h3 class="card-heading">
                            I Need Routine Lawn CAre
                        </h3>
                    </div>
                    <div class="card-button">
                        <a class="button expanded">Get More Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>