<section class="section section-tiles">
    <div class="grid-container">
        <div class="row">
            <div class="section-header columns large-10 large-offset-1">
                <h2 class="wow zoomIn">No Job Too Big Or Small</h2>
                <p>From routine lawn care services to more complex landscaping and maintenance demands, we’ll work with you to create a service package that meets your goals. If you own a business, we can help with that, too.</p>
            </div>
        </div>

        <div class="row small-up-1 medium-up-2 large-up-3">
            <div class="column">
                <div class="tile wow fadeIn" data-wow-delay="0.25s">
                    <a href="#">
                        <img class="tile-img">
                        <div class="tile-text">
                            <h4 class="tile-heading">
                                This is the regular text
                                </h3>
                                <div class="tile-hover">
                                    This is the hover text
                                </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="tile wow fadeIn" data-wow-delay="0.5s">
                    <a href="#">
                        <img class="tile-img">
                        <div class="tile-text">
                            <h4 class="tile-heading">
                                This is the regular text
                            </h4>
                            <div class="tile-hover">
                                This is the hover text
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="tile wow fadeIn" data-wow-delay="0.75s">
                    <a href="#">
                        <img class="tile-img">
                        <div class="tile-text">
                            <h4 class="tile-heading">
                                This is the regular text
                            </h4>
                            <div class="tile-hover">
                                This is the hover text
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="tile wow fadeIn" data-wow-delay="1s">
                    <a href="#">
                        <img class="tile-img">
                        <div class="tile-text">
                            <h4 class="tile-heading">
                                This is the regular text
                                </h3>
                                <div class="tile-hover">
                                    This is the hover text
                                </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="tile wow fadeIn" data-wow-delay="1.25s">
                    <a href="#">
                        <img class="tile-img">
                        <div class="tile-text">
                            <h4 class="tile-heading">
                                This is the regular text
                            </h4>
                            <div class="tile-hover">
                                This is the hover text
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="tile wow fadeIn" data-wow-delay="1.5s">
                    <a href="#">
                        <img class="tile-img">
                        <div class="tile-text">
                            <h4 class="tile-heading">
                                This is the regular text
                            </h4>
                            <div class="tile-hover">
                                This is the hover text
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>

</section>