<section class="section section-details">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="section-header cell large-10 large-offset-1">
                <h3 class="wow zoomIn">Service Details</h3>
                <p>Details about each service are outlined below.</p>
            </div>
        </div>
        <div class="grid-x grid-margin-x small-up-1 medium-up-2">
            <div class="cell">
                <div class="details">
                    <h4 class="details-heading">
                            I Need Routine Lawn CAre
                    </h4>
                    <p class="details-text">Details text</p>
                </div>
            </div>
            <div class="cell">
                <div class="details">
                    <h4 class="details-heading">
                        I Need Routine Lawn CAre
                    </h4>
                    <p class="details-text">Details text</p>
                </div>
            </div>
            <div class="cell">
                <div class="details">
                    <h4 class="details-heading">
                        I Need Routine Lawn CAre
                    </h4>
                    <p class="details-text">Details text</p>
                </div>
            </div>
            <div class="cell">
                <div class="details">
                    <h4 class="details-heading">
                        I Need Routine Lawn CAre
                    </h4>
                    <p class="details-text">Details text</p>
                </div>
            </div>
            <div class="cell">
                <div class="details">
                    <h4 class="details-heading">
                        I Need Routine Lawn CAre
                    </h4>
                    <p class="details-text">Details text</p>
                </div>
            </div>
            <div class="cell">
                <div class="details">
                    <h4 class="details-heading">
                        I Need Routine Lawn CAre
                    </h4>
                    <p class="details-text">Details text</p>
                </div>
            </div>
        </div>
    </div>
</section>